*{
    margin: 0px;
}

html{
    font-size: 100%;
    padding: 1rem 5rem 1rem 5rem;
    background-color: #F8F0E5;
}

.head{
    height: 25vh;
    min-height: 100px;
    text-align: center;
    align-items: center;
    font-size: 5rem ;
    padding: 10px;
    margin: 10px;
}

.head img{
    height: 100%;    
    object-fit: cover;
}

.nav{
    background-color: black ;
    display: flex;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

ul{
    list-style-type: none;
}

li{
    color: #F8F0E5;
    font-size: 2rem;
    text-align: center;
    padding: 15px;
    display: inline;
    vertical-align: middle;
}

a{
    color: #F8F0E5;
    text-decoration: none;
}


.promotion{
    height: 50vh;
    margin: 10px;
}

#inner-promo{
    width: 50%;
    color: #F8F0E5;
    font-size: 1.75rem;
    padding: 10px;
}

#promo{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-image: url(./images/promotion.jpg);
    object-fit: cover;    
}

.articles{
    display: flex;
    justify-content: center;
    height: 70vh;
}

article{
    padding: 20px ;
    margin: 10px ;
    width: 23vw ;
    font-size: 1.3rem;
    color: #F8F0E5;
    background-color: #DAC0A3;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}

article img{
    height: 20vh;    
    object-fit: contain;
}

h1{
    font-size: 1.5rem;
    padding: 10px;
}

.foot{
    display: flex;
    height: 15vh;
    justify-content: center;
}

.foot img{
    width: 80vw;
    object-fit: contain;
}

.foot > div{
    padding: 10px;
    width: 100%;
    text-align: center;
}

.copyright{
    writing-mode: vertical-rl;
    font-size: 0.875rem;
}